In [18]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\jorge.sala\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jorge.sala\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\jorge.sala\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\jorge.sala\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\jorge.sala\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [4]:
import pandas as pd

# Carregar e Ler o arquivo CSV

In [5]:
df = pd.read_csv('results.csv')
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1956-09-23,Germany,Netherlands,2,1,Friendly,Essen,Germany,False
1,1957-07-28,Germany,England,1,1,Friendly,Stuttgart,Germany,False
2,1957-10-13,Germany,Netherlands,2,0,Friendly,Berlin,Germany,False
3,1957-11-03,Netherlands,Austria,8,1,European Championship,Berlin,Germany,True
4,1957-11-03,Germany,England,0,4,European Championship,Berlin,Germany,False
...,...,...,...,...,...,...,...,...,...
9677,2024-08-04,Thailand,Taiwan,2,1,Friendly,Bangkok,Thailand,False
9678,2024-08-06,United States,Germany,1,0,Olympic Games,Décines-Charpieu,France,True
9679,2024-08-06,Brazil,Spain,4,2,Olympic Games,Marseille,France,True
9680,2024-08-09,Spain,Germany,0,1,Olympic Games,Décines-Charpieu,France,True
9681,2024-08-10,Brazil,United States,0,1,Olympic Games,Paris,France,True

# 1. Quais são os jogos que aconteceram na Itália em 2015 na cidade de La Spezia? Ocorreu em que data, torneio e resultado?

In [6]:
italy_2015_laspezia = df[(df['country'] == 'Italy') & (df['city'] == 'La Spezia') & (df['date'].str.contains('2015'))]
italy_2015_laspezia

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
5489,2015-09-18,Italy,Georgia,6,1,UEFA Euro qualification,La Spezia,Italy,False

# 2. Qual foi a quantidade de jogos realizados no Brasil? E qual foi o número de cidades que receberam estes jogos?

In [7]:
brasil_jogos = df[df['country'] == 'Brazil']
quantidade_jogos_brasil = len(brasil_jogos)
quantidade_jogos_brasil

152

In [9]:
cidades_brasil = brasil_jogos['city'].nunique()
cidades_brasil

17

# 3. Jogando em casa, quantos jogos o Brasil acumulou? Quantos gols em média o Brasil marcou por jogos?

In [13]:
brasil_casa = df[df['home_team'] == 'Brazil']
qtd_jogos_br_casa = len(brasil_casa)
qtd_jogos_br_casa

171

In [18]:
gols_br_casa = brasil_casa['home_score'].mean()
gols_br_casa

3.47953216374269

# 4. Qual foi a quantidade de jogos realizados na Albania, United States e Zambia, respectivamente? Especificamente na Albania, em quantas cidades os jogos foram realizados e as respectivas cidades?

In [20]:
albania_jogos = df[df['country'] == 'Albania']
albania_jogos_total = len(albania_jogos)
albania_jogos_total

37

In [22]:
us_jogos = df[df['country'] == 'United States']
us_jogos_total = len(us_jogos)
us_jogos_total

474

In [18]:
zambia_jogos = df[df['country'] == 'Zambia']
zambia_jogos_total = len(zambia_jogos)
zambia_jogos_total

22

# Considerando os paises em conjunto, e obtendo a totalidade dos tres paises

In [16]:
contagem_quantidade_jogos = df[df['country'].isin(['Albania', 'United States', 'Zambia'])]
quantidade_jogos_pais = len(contagem_quantidade_jogos)
quantidade_jogos_pais

533

In [25]:
albania_cidades = albania_jogos['city'].nunique()
albania_cidades

7

In [26]:
albania_cidades_lista = albania_jogos['city'].unique()
albania_cidades_lista

array(["Ta' Qali", 'Tirana', 'Durrës', 'Fier', 'Durres', 'Elbasan',
       'Shkodër'], dtype=object)

# 5. Considerando o ano de 2016, quais cidades sediaram jogos no Brasil? E quantos jogos cada cidade sediou?

In [27]:
brasil_2016 = df[(df['country'] == 'Brazil') & (df['date'].str.contains('2016'))]
brasil_2016

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
5811,2016-07-23,Brazil,Australia,3,1,Friendly,Fortaleza,Brazil,False
5824,2016-08-03,Sweden,South Africa,1,0,Olympic Games,Rio de Janeiro,Brazil,True
5825,2016-08-03,Brazil,China PR,3,0,Olympic Games,Rio de Janeiro,Brazil,False
5826,2016-08-03,Canada,Australia,2,0,Olympic Games,São Paulo,Brazil,True
5827,2016-08-03,Zimbabwe,Germany,1,6,Olympic Games,São Paulo,Brazil,True
5828,2016-08-03,United States,New Zealand,2,0,Olympic Games,Belo Horizonte,Brazil,True
5829,2016-08-03,France,Colombia,4,0,Olympic Games,Belo Horizonte,Brazil,True
5835,2016-08-06,South Africa,China PR,0,2,Olympic Games,Rio de Janeiro,Brazil,True
5836,2016-08-06,Brazil,Sweden,5,1,Olympic Games,Rio de Janeiro,Brazil,False
5837,2016-08-06,Canada,Zimbabwe,3,1,Olympic Games,São Paulo,Brazil,True
5838,2016-08-06,Germany,Australia,2,2,Olympic Games,São Paulo,Brazil,True
5839,2016-08-06,United States,France,1,0,Olympic Games,Belo Horizonte,Brazil,True
5840,2016-08-06,Colombia,New Zealand,0,1,Olympic Games,Belo Horizonte,Brazil,True
5843,2016-08-09,Brazil,South Africa,0,0,Olympic Games,Manaus,Brazil,False
5844,2016-08-09,China PR,Sweden,0,0,Olympic Games,Brasília,Brazil,True
5845,2016-08-09,Germany,Canada,1,2,Olympic Games,Brasília,Brazil,True
5846,2016-08-09,Australia,Zimbabwe,6,1,Olympic Games,Salvador,Brazil,True
5847,2016-08-09,Colombia,United States,2,2,Olympic Games,Manaus,Brazil,True
5848,2016-08-09,New Zealand,France,0,3,Olympic Games,Salvador,Brazil,True
5849,2016-08-12,United States,Sweden,1,1,Olympic Games,Brasília,Brazil,True
5850,2016-08-12,China PR,Germany,0,1,Olympic Games,Salvador,Brazil,True
5851,2016-08-12,Canada,France,1,0,Olympic Games,São Paulo,Brazil,True
5852,2016-08-12,Brazil,Australia,0,0,Olympic Games,Belo Horizonte,Brazil,False
5853,2016-08-16,Brazil,Sweden,0,0,Olympic Games,Rio de Janeiro,Brazil,False
5854,2016-08-16,Canada,Germany,0,2,Olympic Games,Belo Horizonte,Brazil,True
5855,2016-08-19,Brazil,Canada,1,2,Olympic Games,São Paulo,Brazil,False
5856,2016-08-19,Sweden,Germany,1,2,Olympic Games,Rio de Janeiro,Brazil,True
5945,2016-12-07,Italy,Russia,3,0,International Tournament,Manaus,Brazil,True
5946,2016-12-07,Brazil,Costa Rica,6,0,International Tournament,Manaus,Brazil,False
5947,2016-12-11,Italy,Costa Rica,3,0,International Tournament,Manaus,Brazil,True
5948,2016-12-11,Brazil,Russia,4,0,International Tournament,Manaus,Brazil,False
5949,2016-12-14,Costa Rica,Russia,1,3,International Tournament,Manaus,Brazil,True
5950,2016-12-14,Brazil,Italy,3,1,International Tournament,Manaus,Brazil,False
5951,2016-12-18,Russia,Costa Rica,1,0,International Tournament,Manaus,Brazil,True
5952,2016-12-18,Brazil,Italy,5,3,International Tournament,Manaus,Brazil,False

In [28]:
cidades_2016_brasil = brasil_2016['city'].value_counts()
cidades_2016_brasil

Manaus            10
Rio de Janeiro     6
São Paulo          6
Belo Horizonte     6
Brasília           3
Salvador           3
Fortaleza          1
Name: city, dtype: int64

# 6. Qual foi o jogo que apresentou o maior número de gols? Apresente o nome dos países, campeonato, ano e número de gols

In [32]:
df['total_goals'] = df['home_score'] + df['away_score']
maior_gols_jogo = df[df['total_goals'] == df['total_goals'].max()]
maior_gols_jogo

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals
2588,2006-11-10,Cameroon,South Africa,2,24,African Championship,Delta,Nigeria,True,26

# 7. Qual foi a cidade e o país que sediaram o maior número de partidas? Quantas partidas foram realizadas?

In [33]:
cidade_maior_partidas = df['city'].value_counts().idxmax()
cidade_maior_partidas

'Larnaca'

In [34]:
pais_maior_partidas = df['country'].value_counts().idxmax()
pais_maior_partidas

'Portugal'

In [35]:
total_partidas_cidade = df['city'].value_counts().max()
total_partidas_cidade

141

# 8. Qual foi a data do último jogo registrado no dataset? Apresente a data, torneio e cidade onde este jogo foi realizado.

In [36]:
ultimo_jogo = df.sort_values(by='date', ascending=False).iloc[0]
ultimo_jogo

date              2024-08-10
home_team             Brazil
away_team      United States
home_score                 0
away_score                 1
tournament     Olympic Games
city                   Paris
country               France
neutral                 True
total_goals                1
Name: 9681, dtype: object